.customers {
  @extend %section;
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  // gap: 30px;
  color: getColor(bg-team);
}

.customers__item {
  margin-top: 30px;
  margin-left: 30px;
  // margin: 15px;
  width: calc(100% / 2 - 30px);

  @include respond-to(tablet) {
    width: calc(100% / 3 - 30px);
  }

  @include respond-to(desktop) {
    width: calc(100% / 6 - 30px);
  }
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid getColor(bg-team);
  border-radius: 4px;

  @include transit(border);

  &:hover,
  &:focus {
    border: 1px solid getColor(accent);
  }
}
.customers__logo {
  fill: getColor(bg-team);

  @include transit(fill);

  .customers__link:hover &,
  .customers__link:focus & {
    fill: getColor(accent);
  }
}
