.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: getColor(dark-gray);
  text-align: center;

  @include respond-to(desktop) {
    text-align: left;
  }
}

.footer .container {
  @include respond-to(desktop) {
    display: flex;
    gap: 93px;
  }
}

.footer__flex {
  @include respond-to(tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 165px;
  }

  @include respond-to(desktop) {
    // text-align: left;
    gap: 70px;
  }
}

.footer__contact-inf {
  font-style: normal;
  display: flex;
  flex-direction: column;
}
.footer__logo {
  // padding-bottom: 20px;

  // @include respond-to(desktop) {
  // margin-right: 86px;
  // }

  & .logo__end {
    color: getColor(white-);
  }
}

.footer__address {
  padding-top: 20px;

  color: getColor(white-);

  @include respond-to(desktop) {
    padding-right: 20px;
  }
}

.footer__address,
.footer__contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer__contact {
  margin-top: 8px;

  color: getColor(light-gray);

  @include transit(color);

  @include respond-to(desktop) {
    margin-top: 9px;
  }

  &:hover,
  &:focus {
    color: getColor(accent);
  }
}

.social {
  margin-top: 60px;

  @include respond-to(tablet) {
    margin-top: 5px;
  }

  @include respond-to(desktop) {
    margin-top: 12px;
  }
}
.social__title {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: getColor(white-);
}

.footer .socnetworks__item {
  background-color: getColor(gray-);
  border-radius: 50%;

  color: getColor(white-);

  // .socnetworks__icon {
  //   fill: currentColor;
  // }
}
.footer .socnetworks__icon {
  fill: currentColor;
}
/* *subscribe footer */
.subscribe {
  margin-top: 60px;

  @include respond-to(desktop) {
    margin-top: 12px;
  }
}

.subscribe__title {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: getColor(white-);
}

.subscribe__form {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;

  @include respond-to(desktop) {
    flex-direction: row;
  }
}
.subscribe__input-email {
  width: 100%;
  // width: 358px;
  height: 50px;
  padding-left: 16px;

  outline: none;
  background-color: getColor(dark-gray);

  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  color: getColor(white-);
  // @include transit(border-color);

  &::placeholder {
    /* padding-left: 16px; */
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  //   &:focus {
  //   border-color: getColor(accent);
  // }
  @include respond-to(tablet) {
    width: 450px;
  }

  @include respond-to(desktop) {
    width: 358px;
  }
}

.subscribe__button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  // padding: 10px 28px;
}

.subscribe__icon {
  fill: currentColor;
}
