.work {
  @extend %section;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.work__diskr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.work__txt {
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: getColor(white-);
}
